extends layouts/default

block content
  section(data-ng-view)
  script(type="text/javascript").
    window.user = !{user};
  script(src='/socket.io/socket.io.js')
  script(src='/bower_components/angular-socket-io/socket.js')
